<section id="main-container">
<section id="navbar">
        <div class="navA">
            <div class="etzlogo">
    <img src="../../assets/starimages/etzlogo.svg">
            </div>
        <div>
            <img src="../../assets/starimages/Rectangle 24924.svg">
        </div>
            <div class="star">
                <img src="../../assets/starimages/star-assurance-logo 1.svg" >
            </div>
        </div>
        <div class="navB">
            <div>
<!-- <<<<<<< HEAD -->
                <a routerLink="/bannerspace" routerLinkActive="active">Home</a>
<!-- ======= -->
            <!-- <a routerLink="/policy/policydetails">Buy Insurance</a> -->
<!-- >>>>>>> insurance -->
            </div>
            <div>
                <a routerLink="/policy/policydetails" routerLinkActive="active">Buy Insurance</a>
            </div>
            <div>
                <a routerLink='/getquote1' routerLinkActive="active">Get Quote</a>
            </div>
            <div>
                <a routerLink="/make-claim/claim" routerLinkActive="active">Make Claim</a>
           </div> 
           <div>
            <a routerLink='/register/registerdetails' routerLinkActive="active">Register</a>
          </div> 
        </div>
    </section>
</section>
