#main-container{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    overflow: hidden;
    position: fixed;
    background-color: white;
    top: 0;
    width: 100%;
    z-index: 9999;
    font-family: "Outfit", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    // background-color: black;
  }
#navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 25px;
    height: 50px;
    // box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    margin: 0;
}
.navA a{
    float: left;
    display: block;
    color: lightgrey;
}
.navA{
    // border:solid blue 2px;
    align-content: center;
    display: flex;
    flex-direction: row;
    width: 23%;
    justify-content: space-between;
}
.navB{
    // border:solid green 2px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 30%;
    justify-content: space-between;
}
.navB a{
    color: lightslategrey;
    text-decoration: none;
}
.etzlogo{
    // border:solid yellow 2px;
    align-content: center;
}
.star{
    align-content: center;
}
// <<<<<<< HEAD
.active{
    color: blue;
    border: 2px solid blue;
    border-radius: 5px;
    // color: blue;
    padding: 5px;
}

// a{
//     text-decoration: none;
// >>>>>>> insurance
// }
