<section id="main-container">
<section id="navbar">
        <div class="navA">
            <div class="etzlogo">
    <img src="../../assets/star images/etzlogo.svg">
            </div>
        <div>
            <img src="../../assets/star images/Rectangle 24924.svg">
        </div>
            <div class="star">
                <img src="../../assets/star images/star-assurance-logo 1.svg" >
            </div>
        </div>
        <div class="navB">
            <div>
            <a href>Buy Insurance</a>
            </div>
            <div>
                <a href>Get Quote</a>
            </div>
            <div>
                <a href>Make Claim</a>
            </div>
            <div>
                <a href>Register</a>
            </div>
        </div>
    </section>
</section>
