<section id="container">
    <div class="top">
          
    </div>

    <div class="main"> 
        <div class="mid-top">
            <div class="back"><i routerLink='/getquote1' class="fa fa-arrow-left"></i>
            </div>
            <div class="text"> <strong>Get Quote</strong></div>
            <div class="send">
                <img src="../../../assets/starimages/Frame 1707479768.svg">
            </div>
            
        </div>
        <div class="mid">
            <div class="midcontent">
         <div class="logospace">
            <div>
                <img src="../../../assets/starimages/star-assurance-logo 1.svg">
                <p style="font-style: italic;font-weight: lighter;"> ...your solid partner</p>
            </div>
            <div><strong>QUOTE</strong></div>
         </div>

         <div class="total">
           <p style="color: rgba(35, 132, 197, 1);font-weight: 400;font-size: large;"> Total</p> <p style="color: rgba(35, 132, 197, 1);font-weight: bolder;font-size:x-large;">₵ 34,009.0</p> 
         </div>
         <div class="layout">
                <div>
                 <p>Service Description</p>
                 <p>Policy</p> 
                 <p>Policy Type</p> 
                 <p>Manufacture year</p> 
                 <p>Year of registration</p> 
                 <p>Cubic Capacity</p> 
                 <p>Usage</p> 
                 <p>Duration</p> 
                 <p>Passenger Count</p>
                 </div>
                <div>
                    <p>Details</p>
                    <p>Moto</p>
                    <p>Moto</p>
                    <p>Moto</p>
                    <p>Moto</p>
                    <p>Moto</p>
                    <p>Moto</p>
                    <p>Moto</p>
                    <p>Moto</p>
                    
                </div>
             </div>
                <!-- <tr>
                    <td>Policy type</td>
                    <td>Moto</td>
                </tr>
                <tr>
                    <td>Manufacture year</td>
                    <td>Moto</td>
                </tr>
                <tr>
                    <td>Year of registration</td>
                    <td>Moto</td>
                </tr>
                <tr>
                    <td>Cubic Capacity</td>
                    <td>Moto</td>
                </tr>
                <tr>
                    <td>Usage</td>
                    <td>Moto</td>
                </tr>
                <tr>
                    <td>Duration</td>
                    <td>Moto</td>
                </tr>
                <tr>
                    <td>Passenger count</td>
                    <td>Moto</td>
                </tr> -->

              <!-- <div class="tablecolumn1">w</div>
              <div class="tablecolumn2">
              </div> -->
          </div>
        </div>
        <div class="mid-bottom">
        <button routerLink='/bannerspace' class="btn1">Close</button>
        <button class="btn2">Proceed to make payment</button>
        </div>
    </div>
  
    
</section>

<!-- <p>Service Description</p> -->
            <!-- <p>Policy</p> -->
            <!-- <p>Policy Type</p> -->
            <!-- <p>Manufacture year</p> -->
            <!-- <p>Year of registration</p> -->
            <!-- <p>Cubic Capacity</p> -->
            <!-- <p>Usage</p> -->
            <!-- <p>Duration</p> -->
            <!-- <p>Passenger Count</p> -->
             
            <!-- <button class="btn btn-primary">Close</button> -->
            <!-- <button class="btn btn-primary">Proceed to make payment</button> -->
              <!-- Total 34,009.0 -->

               <!-- <img src="../../../assets/starimages/star-assurance-logo 1.svg"> -->