
<section id="bannerspace">
    <div class="banner-content">
    <div class="carlogo">
         <img src="../../assets/star images/car 1.svg"> 
         <p>Your peace of mind is our priority.  </p> 
    </div>
    <div class="bannertext">
        <h1>Register and get a quote easily for your car <br>insurance with the collaboration of<br>  Etranzact and Starassurance!</h1> 
    </div>
    <div class="search">
    <p style="border-radius: 30px;">Search policy by PhoneNumber</p>
     </div>
    </div>
</section>
