
<section id="bannerspace">
    <div class="banner-content">
         <div class="carlogo" style="display: flex; border-radius: 20px; width:20%; margin: auto; padding-left: 10px; justify-content: space-around;">
            <img src="../../assets/starimages/car 1.svg" style="height: 23px;row-gap: 5px; margin-top: 10px;">
            <p style=" margin-top: 10px;">Your peace of mind is our priority.  </p>
         </div>
        <div class="text">
            <h1>Register and get a quote easily for your car <br> insurance with the collaboration of<br>  Etranzact and Starassurance!</h1>
        </div>
        <div class="search"> 
        <select  name="policy" style="appearance: none; box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;;margin: auto; color: #747474;background-color: #fff; border-radius: 20px;padding: 10px;padding-left: 30px;padding-right: 250px;">
            <option style="color: #747474;">Search policy by PhoneNumber </option>
            <option value="100-500"> 
                <i class="fas fa-car"></i>
               Toyota Camry <br>GH8798866 </option>
            <option value="100-500">  Toyota Camry <br>GH8798866</option>
            <option value="100-500">  Toyota Camry <br>GH8798866</option>
        </select> 
         <img src="../../assets/starimages/search-alt-2 1.svg" style="position:absolute; right: 35%; top: 54%;">  
       </div>
  </div>
   <div class="photos">
        <div class="backcar">
            <img src="../../assets/starimages/bluecar 2.svg">
        </div>
        <div class="blueback">
            <img src="../../assets/starimages/bluebackground.svg">
        </div>
        <div class="fullphoto">
            <img src="../../assets/starimages/come-let-me-hug-you1.svg">
        </div>
  </div> 
     <!-- <div class="banner-content"> -->
     <!-- <div class="carlogo">  -->
           <!-- <img src="../../assets/starimages/car 1.svg">   -->
         <!-- <p>Your peace of mind is our priority.  </p>   -->
     <!-- </div>  -->
     <!-- <div class="bannertext">  -->
      <!-- <h1>Register and get a quote easily for your car <br>insurance with the collaboration of<br>  Etranzact and Starassurance!</h1>   -->
     <!-- </div>   -->
      <!-- <div class="search">   -->
     <!-- <select placeholder="" name="policy" style="border: 1px solid lightgray;margin: auto; border: none; color: #747474; border-radius: 10px;padding: 10px;padding-left: 20px;padding-right: 150px; box-shadow:  rgba(0, 0, 0, 0.45) 0px 2px 2px 0px;"> -->
        <!-- <option style="color: #747474;">Search policy by PhoneNumber </option> -->
        <!-- <option value="100-500">100-500</option> -->
        <!-- <option value="300-500">300-500</option> -->
        <!-- <option value="200-400">200-400</option> -->
        <!-- <option value="400-600">400-600</option> -->
     <!-- </select> -->
      <!-- <img src="../../assets/starimages/search-alt-2 1.svg" style="position:absolute; right: 40%; top: 48%;"> -->
      <!-- </div>  -->
     <!-- </div>   -->
     <!-- <div class="car">  -->
         <!-- <img src="../../assets/starimages/bluecar 2.svg">   -->
         <!-- <div class="blue">  -->
             <!-- <img src="../../assets/starimages/bluebackground.svg">  -->
         <!-- </div>  -->
         <!-- <div class="full-length"> -->
             <!-- <img src="../../assets/starimages/come-let-me-hug-you1.svg">  -->
         <!-- </div> -->
    <!-- </div>    -->
  
    <!-- <div class="carlogo">
         <img src="../../assets/star images/car 1.svg"> 
         <p>Your peace of mind is our priority.  </p> 
    </div>
    <div class="bannertext">
        <h1>Register and get a quote easily for your car <br>insurance with the collaboration of<br>  Etranzact and Starassurance!</h1> 
    </div>
    <div class="search">
    <p style="border-radius: 30px;">Search policy by PhoneNumber</p>
     </div> -->
    <!-- </div> -->
</section>
