
<section id="bannerspace">
     <div class="banner-content">
     <div class="carlogo"> 
           <img src="../../assets/starimages/car 1.svg">  
         <p>Your peace of mind is our priority.  </p>  
     </div> 
     <div class="bannertext"> 
      <h1>Register and get a quote easily for your car <br>insurance with the collaboration of<br>  Etranzact and Starassurance!</h1>  
     </div> 
     <div class="search"> 
     <input placeholder="Search policy by PhoneNumber"> 
     <i class="fa fa-search"></i>
     <!-- <img src="../../assets/starimages/search-alt-2 1.svg"> -->
      </div> 
     </div> 
     <div class="car"> 
         <img src="../../assets/starimages/bluecar 2.svg">  
         <div class="blue"> 
             <img src="../../assets/starimages/bluebackground.svg"> 
         </div> 
         <div class="full-length">
             <img src="../../assets/starimages/come-let-me-hug-you1.svg"> 
         </div>
    </div>  
    
</section>
