
<div class="claim">
<h2>Claim</h2>

<div class="cl">
<mat-form-field class="half-width">
    <label>Phone Number</label>
<div class="form-group">
    <input type="text" class="form-control" id="policy" placeholder="+233 | XXX XXX XXXX">
</div>
</mat-form-field>

<mat-form-field class="half-width">
    <label>My policies</label>
<div class="form-group">
    <input type="text" class="form-control" id="policy" placeholder="GHA-673-20986">
</div>
</mat-form-field>

<mat-form-field class="half-width">
    <label>Incident Date</label>
<div class="form-group"> 
    <input type="text" class="form-control" id="policy" placeholder="Input value" >
</div>
</mat-form-field>

<mat-form-field class="half-width">
    <label>Incident description</label>
<div class="form-group"> 
    <input type="text" class="form-control" id="policy" placeholder="Input value" >
</div>
</mat-form-field>

<div>
    <button style="color:white; border-style: none;
    border-radius: 10px;width:50%; font-size:larger;padding:15px;" class="btn bg-sky-500 hover:bg-sky-700">Submit Claim</button>
    </div>
</div>
</div>



 <!-- <div class="claimmm">
    <mat-form-field>
        <div class="form-group">
            <label for="Choose policy">Phone Number</label>
            <input type="text" class="form-control" id="policy" placeholder="XXX XXX XXX">
        </div>
    </mat-form-field>
    <mat-form-field>
        <div class="form-group">
            <label for="Choose policy">My Policies</label>
            <input type="text" class="form-control" id="policy" placeholder="XXX XXX XXX">
        </div>
    </mat-form-field>
    <mat-form-field>
        <div class="form-group">
            <mat-form-field class="half-width">
            <mat-label>Incident Date</mat-label>
            <input matInput required [matDatepicker]="createdDatePicker" class="form-control"  name="createdDatePicker" minlength="3" placeholder="Select Date">
            <mat-datepicker-toggle matSuffix [for]="createdDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #createdDatePicker></mat-datepicker>
            </mat-form-field>
</div>
</mat-form-field>
</div> -->