.claim{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-content: center;
}
.form-control{
    text-align: left;
    border: lightgray solid 1px;
    width: 70%;
    border-radius: 10px;
    padding:15px;
}
.cl{
    display: flex;
    flex-direction: column;
    // border: solid 5px yellow;
    width: 50%;
    margin: auto;
}