.polydetails{
    // border: 1px solid red;
    height: 70vh;
    font-family: "Outfit", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal; 
    margin: 60px;
    overflow-y: hidden;
}

.policydetails{
    align-content: center;
    width:70%;
    // height: 70vh;
    margin: auto;
    text-align: center;
    color: white;
}
.half-width{
    width: 50%;
    color:gray;
}

.form-control{
    border: lightgray solid 1px;
    // width: 50%;
    border-radius: 10px;
    padding:15px;
}
