<form #insuranceform="ngform" ngSubmit="newForm()">
   <div>
        <label>Choose Policy</label>
        <input name="" placeholder="Select Policy">
 </div>
 <div>
        <label>Manufacture Year</label>
        <input placeholder="Select Year">
 </div>
 <div>
        <label>Passenger Count</label>
        <input placeholder="">
 </div>
 <div>
        <label>Cubic Capacity</label>
       <input type="number" placeholder="">
 </div>
  <div>
        <label>Choose Policy Type</label>
      <input placeholder="0000">
 </div>
 <div>
     <label>Choose Policy Type</label>
     <input placeholder="Select Policy Type">
 </div>
   <div>
     <label>Year of Registration</label>
     <input placeholder="Select Year">
   </div>
 <div>
    <label>Usage</label>
    <input placeholder="Select Usage Type">
 </div>
    <div>
        <label>Duration</label>
        <input placeholder="Select Duration">
    </div>
    <button class="submit">
        Submit
    </button>
</form>
