<div class="top">
</div>
<div class="content">
<div>
    <div class="text">
        <strong style="font-size: large;">REGISTER</strong>
   </div>
   <div>
<mat-form-field class="half-width" style="width: 50%;">
    <label style="color: #747474;">First Name</label>
    <div>
    <input matInput placeholder="" name="count" style="border: 1px solid  lightgray; border-radius: 10px;padding: 10px;;padding-left: 20px;padding-right: 100px;width: 100%;">
    </div>
</mat-form-field>
   </div>

   <div>
<mat-form-field class="half-width"  style="width: 50%;">
    <label style="color: #747474;">Last Name</label>
    <div>
    <input matInput placeholder="" name="count" style="border: 1px solid  lightgray; border-radius: 10px;padding: 10px;;padding-left: 20px;padding-right: 70px;width: 100%;">
    </div>
</mat-form-field>
   </div>

   <div>
<mat-form-field class="half-width"  style="width: 50%;">
    <label style="color: #747474;">Phone Number</label>
    <div>
    <input matInput placeholder="         +233|xxx xxxx xxx" name="count" style="border: 1px solid  lightgray; border-radius: 10px;padding: 10px;width: 100%;">
    <img src="../../../assets/starimages/ghana.svg" style="position: absolute; bottom: 15%;left: 5%;">
    </div>
</mat-form-field>
   </div>

   <div>
<mat-form-field class="half-width"  style="width: 50%;">
    <label style="color: #747474;">Email</label>
    <div>
    <input matInput placeholder="" name="count" type="email" style="border: 1px solid  lightgray; border-radius: 10px;padding: 10px;;padding-left: 20px;padding-right: 100px;width: 100%;">
    </div>
</mat-form-field>
   </div>

   <div>
<mat-form-field class="half-width"  style="width: 50%;">
    <label style="color: #747474;">Gender</label>
    <div>
        <select placeholder="Select Gender" name="gender" style="border: 1px solid  lightgray; color: #747474; border-radius: 10px;padding: 10px;padding-left: 20px;width: 100%;">
            <option>Select Gender</option>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
        </select>  
  </div>
</mat-form-field>
   </div>
</div>

<div>
<button class="btn">
    Create Account
</button>
</div>
</div>