
.btn{
    color: white;
    width: 46%;
    padding: 10px;
    margin-left: 2%;
    border-radius: 10px;
}
.text{
    margin: auto;
    // align-self: center;
    text-align: center;
}
.content{
    // border: 1px solid purple;
     width: 50%;
     margin: 20px;
     margin-left: 40%;
     position: relative;
     z-index: 0;
    // border: 1px solid brown;
    // width: 100%;
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // margin: auto;
     margin-top: 0px;
     padding-top: 70px;
    // align-items: center;

}